---
title: RVWP
layout: default
---

<a name="top"></a>

<header class="hero is-primary">
	<div class="hero-head">
		<nav class="navbar">
			<div class="container is-max-widescreen">
				<div class="navbar-brand">
					<div class="navbar-item title is-4 is-marginless is-paddingless">
						RVWP
					</div>
					<span class="navbar-burger burger" data-target="navbarMenuHeroB">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>
				<div id="navbarMenuHeroB" class="navbar-menu">
					<div class="navbar-end">
						<a class="navbar-item" href="#gameplay">
							Gameplay
						</a>
						<a class="navbar-item" href="#progress">
							Progress
						</a>
						<a class="navbar-item" href="#posts">
							Posts
						</a>
						<a class="navbar-item" href="#downloads">
							Downloads
						</a>
						<a class="navbar-item" href="https://discord.gg/zYjR54b">
							Discord
						</a>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div class="hero-body">
		<div class="container is-max-widescreen">
			<h1 class="title">
				Ruben's Virtual World Project
				<span class="tag is-warning is-light" style="margin-left:1em;">Temp name</span>
			</h1>
			<p class="subtitle is-marginless" style="max-width: 40em;">
				A hybrid between a topdown shooter and a basebuilder,
				where you manage a group of rebels hiding from a dystopian government.
			</p>
		</div>
	</div>
</header>

<section class="section container is-max-widescreen">
	<h2 id="cancelled" class="title is-2">Cancelled</h2>
	<div class="content">
		<p>I am no longer working on RVWP. For more information, see the blog post</p>
		<p>
			<a class="button is-primary" href="https://blog.rubenwardy.com/2023/07/14/make-games-not-game-engines/">
				Blog post
			</a>
		</p>
	</div>
</section>

<section class="section container is-max-widescreen">
	<h2 class="title is-2">Features</h2>
	<div class="columns is-multiline">
		{% for item in site.data.gallery %}
		<div class="column is-one-third">
			<figure class="card">
				<div class="card-image image is-4by3">
					<img src="{{ item.image }}" alt="{{ item.desc }}">
				</div>
				<figcaption class="card-content">
					{{ item.desc }}
				</figcaption>
			</figure>
		</div>
		{% endfor %}
	</div>
</section>

<section class="section">
	<div class="container is-max-widescreen content">
		<h2 class="title is-2">Two games in one</h2>
		<p>
			RVWP is a hybrid between a topdown shooter and a basebuilder.
			You can switch between Hero and Architect modes at any time.
		</p>
	</div>

	<article class="hero is-success">
		<div class="hero-body">
			<div class="container is-max-widescreen">
				<div class="columns">
					<div class="column">
						<h2 class="title">
							Hero Mode
							<span class="ml-5 subtitle">
								Explore, recruit, fight
							</span>
						</h2>
						<p class="subtitle mt-4">
							In Hero mode, the player will directly control the
							actions of their character. They'll be able to
							explore freely, recruit, and fight.
						</p>
						<p class="subtitle">
							If the Player's Character dies, then it's game over.
							In singleplayer, the player will be able to load
							from a save file, but in multiplayer they will need
							to create a new character to continue playing.
						</p>
					</div>
					<div class="column is-narrow">
						<figure class="image" style="width: 270px;">
							<a href="static/images/actionmode.png">
								<img src="static/images/actionmode.png" alt="Hero mode">
							</a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</article>

	<article class="hero is-info">
		<div class="hero-body">
			<div class="container is-max-widescreen">
				<div class="columns">
					<div class="column">
						<h2 class="title">
							Architect Mode
							<span class="ml-5 subtitle">
								Plan, build, organise
							</span>
						</h2>
						<p class="subtitle mt-4">
							In Architect mode, the player won't be tied to any
							particular character and will be able to issue
							orders - for example, to build a wall. It works a
							lot like RimWorld and other basebuilding games.
							Architect mode only allows you to view and manage
							your base and areas that you own - whilst your
							player character is away, you can use it to check on
							your base.
						</p>
					</div>
					<div class="column is-narrow">
						<figure class="image" style="width: 270px;">
							<a href="static/images/blueprints_full.png">
								<img src="static/images/blueprints.png" alt="Architect mode blueprints">
							</a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>

<section class="section container is-max-widescreen">
	<h2 id="gameplay" class="title is-2">Gameplay</h2>
	<article class="content">
		<h3>
			Overview
		</h3>
		<p>
			RVWP's gameplay has largely evolved throughout development. There's
			no definite plans. The current idea is that you manage a group of
			rebels hiding from a dystopian government, with procedural
			generation and missions.
		</p>

		<h3>
			NPCs
			<span class="tag is-warning" style="margin-left:1em;">In Progress</span>
		</h3>
		<p>
			The game centers around managing a base of characters with needs
			and loyalties. They will perform work the player has ordered, and
			will be aware of their environment and any threats.
		</p>

		<h3>
			Planned Gameplay
		</h3>
		<ul>
			<li>Semi-realistic combat, with knowledge of cover and hit stats.</li>
			<li>Procedurally generated missions to further your cause.</li>
			<li>Recruitment and loyalty.</li>
			<li>Traffic, pedestrians, and vehicles.</li>
			<li>Surveillance, AI police investigations, law and order.</li>
		</ul>
	</article>
</section>

<section class="section container is-max-widescreen">
	<h2 id="progress" class="title is-2">Progress</h2>
	<article class="content">
		<h3>The Project</h3>
		<p>
			For the last four years, I’ve been working on a sandbox game
			using C++ and SFML.
			The game renders the world as a topdown cross-section, with support
			for changing the z-level by walking up and down stairs.
		</p>
		<p>
			The original aim was to use C sockets to learn about lower level
			multiplayer networking concepts - such as reliability,
			latency mitigation, and prevention of cheating.
			However, the focus has since changed to developing this project
			into an actual game with interesting new mechanics.
		</p>

		<h3>Current State</h3>
		<p>
			The world is already "near-infinite", with a simple noise-based map generator.
			The world has 3D lighting using a
			<a href="https://www.seedofandromeda.com/blogs/29-fast-flood-fill-lighting-in-a-blocky-voxel-game-pt-1">flood fill algorithm</a>.
		</p>
		<p>
			In hero mode, you can control your character - wandering around the world,
			performing some basic interactions.
		</p>
		<p>
			In architect mode, you can place blueprints. NPCs will build blueprints,
			using a job queue and simple game AI.
		</p>

		<h3>Technology</h3>
		<p>
			There's Lua modding support, with hot script reloading.
		</p>
		<p>
			It was decided to use behaviour trees to program NPC behaviour. They
			have the benefit of avoiding complicated state transition logic,
			allowing any state to respond correctly to threats or another
			interruption. The code for this in RVWP is custom, but the trees
			themselves are edited using a GUI tool called
			<a href="https://github.com/pruttned/owl-bt">owl-bt</a>.
		</p>
		<figure class="image" style="width: 321px;">
			<a href="static/images/behaviour_tree_full.png">
				<img src="static/images/behaviour_tree.png" alt="Example of behaviour tree">
			</a>
			<figcaption>A behaviour tree, rendered by owl-bt.</figcaption>
		</figure>

		<h3>Future</h3>
		<p>
			I will be improving the NPCs and architect modes by adding new jobs
			and types of behaviour. I will also be working on hero gameplay,
			such as combat.
		</p>
	</article>
</section>

<section class="section container is-max-widescreen" style="padding-left:0; padding-right:0;">
	<h2 id="posts" class="title is-2">Posts</h2>
	<div class="columns is-multiline">
		{% for article in site.data.blog %}
		<a class="column is-one-quarter" href="{{ article.url }}" aria-label="View article {{ article.title }}">
			<figure class="card">
				<div class="card-image image is-16by9">
					<img src="{{ article.image }}" alt="{{ article.title }}">
				</div>
				<figcaption class="card-content">
					<h3 class="title is-5">{{ article.title }}</h3>
					<div class="subtitle is-6">{{ article.date }}</div>
					<div class="content">
						{{ article.content | markdownify }}
					</div>
				</figcaption>
			</figure>
		</a>
		{% endfor %}
	</div>
</section>


<section class="section container is-max-widescreen">
	<h2 id="downloads" class="title is-2">Downloads</h2>
	<article class="content">
		<p>
			There are no builds available, you'll need to build RVWP yourself.
		</p>
		<p>
			<a class="button is-primary" href="https://gitlab.com/rubenwardy/rvwp/">
				Source Code
			</a>
		</p>
	</article>
</section>

<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<strong>RVWP</strong> by <a href="https://rubenwardy.com">rubenwardy</a>.
			All rights reserved.
		</p>
	</div>
</footer>
