<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="static/bulma.min.css">

	{% if page.url == "/" %}
		<meta name="og:title" content="{{ page.title }}"/>
		<meta name="og:description" content="{{ site.description }}"/>
		<meta name="description" content="{{ site.description }}"/>
		<meta name="og:url" content="{{ '/' | absolute_url }}"/>
		<meta name="og:image" content="{{ '/static/images/lighting.png' | absolute_url }}"/>
	{% endif %}
</head>
<body>
	<style>
		header.hero {
			background: url("static/images/banner.png") no-repeat;
			background-size: cover;
		}

		header.hero .navbar-link.is-active,
		header.hero .navbar-link:hover,
		header.hero .navbar-link:focus,
		header.hero a.navbar-item.is-active,
		header.hero a.navbar-item:hover,
		header.hero a.navbar-item:focus {
			background-color: rgba(255, 255, 255, 0.2);
		}

		header.hero-body {
			padding-bottom: 5rem;
		}

		.navbar > .container .navbar-brand {
			margin-left: 0;
		}

		.card {
			border-radius: 3px;
			overflow: hidden;
		}

		a .card {
			transition: transform 200ms ease;
			cursor: pointer;
		}

		a:hover .card {
			transform: scale(1.05, 1.05);
			z-index: 2;
		}

		.section {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	</style>


	{{ content }}
</body>
</html>
